# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
.eggs/

# Env
.env
env.json
.venv/
venv/
env/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Testing
.pytest_cache/
htmlcov/
.coverage
